In [33]:
import pandas as pd

In [34]:
# Read the CSV file into a DataFrame
df = pd.read_csv("students_complete.csv")

In [35]:
# Calculate the total number of unique schools using 'nunique()'syntax 
total_unique_schools = df['school_name'].nunique()
print(total_unique_schools)

15

In [36]:
# Calculate the total number of students using 'count()' syntax
total_students = df['student_name'].count()
print(total_students)

39170

In [37]:
# Calculate the total budget. Would have use the 'sum' syntax but we dont have a budget column on the students_complete.csv file
#total_budget = df['budget'].sum()
#Assuming working ont the schools_complete.csv file. Load a second DataFrame

df2 = pd.read_csv("schools_complete.csv")
total_budget = df2['budget'].sum()
print(("$ ")+ str(total_budget))

$ 24649428

In [38]:
# Calculate the average math score
avg_math_score = df['math_score'].mean()
print(avg_math_score)

78.98537145774827

In [39]:
# Calculate the Average reading score score
avg_reading_score = df['reading_score'].mean()
print(avg_reading_score)

81.87784018381414

In [40]:
#  Calculate the percentage of students passing math, assuming above 69 percent grad is pass
passing_percent_math = (df['math_score'] >= 70).mean() * 100
print(passing_percent_math)

74.9808526933878

In [41]:
#  Calculate the percentage of students passing reading
passing_percent_reading = (df['reading_score'] >= 70).mean() * 100
print(passing_percent_reading)

85.80546336482001

In [42]:
#  Calculate the percentage of students passing both math and reading
overall_passing_percentage = ((df['math_score'] >= 60) & (df['reading_score'] >= 60)).mean() * 100
print(overall_passing_percentage)

92.4457492979321

### School Summary

We will need calculate the per student budget. Calculating the per student budget will provides valuable information about the financial resources available to each student in  school. It will help in understanding how the allocated budget is distributed among the student population.

In [44]:
# Create a new summarize DataFrame with the required key metrics
#using "df2 = pd.read_csv("schools_complete.csv")" created earlier 

# Calculate per student budget
df2["Per Student Budget"] = df2["budget"] / df2["size"]

summarize_df = pd.DataFrame({
    "School Name": df2["school_name"],
    "School Type": df2["type"],
    "Total Students": df2["size"],
    "Total School Budget": df2["budget"],
    "Per Student Budget": df2["Per Student Budget"],
    "avg_math_score": df['math_score'].mean(),         # Calculated from "df = pd.read_csv("students_complete.csv")"  prior
    "avg_reading_score": df['reading_score'].mean(),    # Similarly from "df = pd.read_csv("students_complete.csv")"  prior
    "passing_percent_math": (df['math_score'] >= 70).mean() * 100,
    "passing_percent_reading": (df['reading_score'] >= 70).mean() * 100,
    "overall_passing_percentage": ((df['math_score'] >= 70) & (df['reading_score'] >= 70)).mean() * 100
})
print(summarize_df)

              School Name School Type  Total Students  Total School Budget  \
0       Huang High School    District            2917              1910635
1    Figueroa High School    District            2949              1884411
2     Shelton High School     Charter            1761              1056600
3   Hernandez High School    District            4635              3022020
4     Griffin High School     Charter            1468               917500
5      Wilson High School     Charter            2283              1319574
6     Cabrera High School     Charter            1858              1081356
7      Bailey High School    District            4976              3124928
8      Holden High School     Charter             427               248087
9        Pena High School     Charter             962               585858
10     Wright High School     Charter            1800              1049400
11  Rodriguez High School    District            3999              2547363
12    Johnson High School    District            4761              3094650
13       Ford High School    District            2739              1763916
14     Thomas High School     Charter            1635              1043130

    Per Student Budget  avg_math_score  avg_reading_score  \
0                655.0       78.985371           81.87784
1                639.0       78.985371           81.87784
2                600.0       78.985371           81.87784
3                652.0       78.985371           81.87784
4                625.0       78.985371           81.87784
5                578.0       78.985371           81.87784
6                582.0       78.985371           81.87784
7                628.0       78.985371           81.87784
8                581.0       78.985371           81.87784
9                609.0       78.985371           81.87784
10               583.0       78.985371           81.87784
11               637.0       78.985371           81.87784
12               650.0       78.985371           81.87784
13               644.0       78.985371           81.87784
14               638.0       78.985371           81.87784

    passing_percent_math  passing_percent_reading  overall_passing_percentage
0              74.980853                85.805463                   65.172326
1              74.980853                85.805463                   65.172326
2              74.980853                85.805463                   65.172326
3              74.980853                85.805463                   65.172326
4              74.980853                85.805463                   65.172326
5              74.980853                85.805463                   65.172326
6              74.980853                85.805463                   65.172326
7              74.980853                85.805463                   65.172326
8              74.980853                85.805463                   65.172326
9              74.980853                85.805463                   65.172326
10             74.980853                85.805463                   65.172326
11             74.980853                85.805463                   65.172326
12             74.980853                85.805463                   65.172326
13             74.980853                85.805463                   65.172326
14             74.980853                85.805463                   65.172326

In [48]:
# Create a new csv with the ontains the new data frame metrics summarize_df
summarize_df.to_csv('school_metrics.csv', index=False)

In [51]:
# Sort the DataFrame by 'overall_passing_percentage' in descending order
top_schools = summarize_df.sort_values(by='overall_passing_percentage', ascending=False)

In [52]:


# Display the top 5 rows
top_schools = top_schools.head(5)

# Print the top_schools DataFrame
print(top_schools)

             School Name School Type  Total Students  Total School Budget  \
0      Huang High School    District            2917              1910635
1   Figueroa High School    District            2949              1884411
2    Shelton High School     Charter            1761              1056600
3  Hernandez High School    District            4635              3022020
4    Griffin High School     Charter            1468               917500

   Per Student Budget  avg_math_score  avg_reading_score  \
0               655.0       78.985371           81.87784
1               639.0       78.985371           81.87784
2               600.0       78.985371           81.87784
3               652.0       78.985371           81.87784
4               625.0       78.985371           81.87784

   passing_percent_math  passing_percent_reading  overall_passing_percentage
0             74.980853                85.805463                   65.172326
1             74.980853                85.805463                   65.172326
2             74.980853                85.805463                   65.172326
3             74.980853                85.805463                   65.172326
4             74.980853                85.805463                   65.172326

In [54]:
# Sort the DataFrame by 'overall_passing_percentage' in ascending order
bottom_schools = summarize_df.sort_values(by='overall_passing_percentage', ascending=True)

# Display the bottom 5 rows
bottom_schools = bottom_schools.head(5)

# Print the bottom_schools DataFrame
print(bottom_schools)

             School Name School Type  Total Students  Total School Budget  \
0      Huang High School    District            2917              1910635
1   Figueroa High School    District            2949              1884411
2    Shelton High School     Charter            1761              1056600
3  Hernandez High School    District            4635              3022020
4    Griffin High School     Charter            1468               917500

   Per Student Budget  avg_math_score  avg_reading_score  \
0               655.0       78.985371           81.87784
1               639.0       78.985371           81.87784
2               600.0       78.985371           81.87784
3               652.0       78.985371           81.87784
4               625.0       78.985371           81.87784

   passing_percent_math  passing_percent_reading  overall_passing_percentage
0             74.980853                85.805463                   65.172326
1             74.980853                85.805463                   65.172326
2             74.980853                85.805463                   65.172326
3             74.980853                85.805463                   65.172326
4             74.980853                85.805463                   65.172326

In [55]:
# Group the data by school and grade level, and calculate the average math score
average_math_by_grade = df.groupby(['school_name', 'grade'])['math_score'].mean()

# Reset the index of the resulting Series
average_math_by_grade = average_math_by_grade.reset_index()

# Pivot the DataFrame to have grades as columns and schools as rows
average_math_by_grade = average_math_by_grade.pivot(index='school_name', columns='grade', values='math_score')

# Print the average_math_by_grade DataFrame
print(average_math_by_grade)

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [56]:
# Group the data by school and grade level, and calculate the average reading score
average_reading_by_grade = df.groupby(['school_name', 'grade'])['reading_score'].mean()

# Reset the index of the resulting Series
average_reading_by_grade = average_reading_by_grade.reset_index()

# Pivot the DataFrame to have grades as columns and schools as rows
average_reading_by_grade = average_reading_by_grade.pivot(index='school_name', columns='grade', values='reading_score')

# Print the average_reading_by_grade DataFrame
print(average_reading_by_grade)

grade                       10th       11th       12th        9th
school_name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [57]:
# Define the spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Add a new column to the summarize_df DataFrame with the spending ranges
summarize_df['Spending Ranges (Per Student)'] = pd.cut(summarize_df['Per Student Budget'], bins=spending_bins, labels=labels)

# Group the data by spending ranges and calculate the average performance metrics
performance_by_spending = summarize_df.groupby('Spending Ranges (Per Student)').mean()

# Select the desired columns for the performance table
performance_table = performance_by_spending[['avg_math_score', 'avg_reading_score', 'passing_percent_math', 'passing_percent_reading', 'overall_passing_percentage']]

# Print the performance_table
print(performance_table)

                               avg_math_score  avg_reading_score  \
Spending Ranges (Per Student)
<$585                               78.985371           81.87784
$585-630                            78.985371           81.87784
$630-645                            78.985371           81.87784
$645-680                            78.985371           81.87784

                               passing_percent_math  passing_percent_reading  \
Spending Ranges (Per Student)
<$585                                     74.980853                85.805463
$585-630                                  74.980853                85.805463
$630-645                                  74.980853                85.805463
$645-680                                  74.980853                85.805463

                               overall_passing_percentage
Spending Ranges (Per Student)
<$585                                           65.172326
$585-630                                        65.172326
$630-645                                        65.172326
$645-680                                        65.172326

C:\Users\Isaac Technology\AppData\Local\Temp\ipykernel_18056\1702960598.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  performance_by_spending = summarize_df.groupby('Spending Ranges (Per Student)').mean()

#Note
# I have put so many hours in trying to getting ths assignment code error free. 
# As a result I seem to be falling behind on this week activities. 
# I will be hoping to revisit this challenge on a later date. May have to do a resubmission

To do : 

Use pd.cut to categorize spending based on the bins.

Use the following code to then calculate mean scores per spending range.
pending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

Use the scores above to create a DataFrame called spending_summary.

Include the following metrics in the table:

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed math AND reading)

Scores by School Size
Use the following code to bin the per_school_summary.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.

Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large).

Scores by School Type
Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.

This new DataFrame should show school performance based on the "School Type".